{
  "extends": [
    "plugin:@typescript-eslint/recommended",
    "prettier",
    "prettier/@typescript-eslint"
  ],
  "root": true,
  "rules": {
    "@typescript-eslint/explicit-function-return-type": 0
  }
}
