{
  "extends": [
    "eslint:recommended",
    "prettier",
    "plugin:@typescript-eslint/recommended-type-checked",
    "plugin:@typescript-eslint/stylistic-type-checked",
    "plugin:@typescript-eslint/strict-type-checked",
  ],
  "root": true,
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": ["./tsconfig.json"],
  },
  "ignorePatterns": [
    "dist",
    "jest.config.js",
    "src/helpers/__tests__/fixtures",
  ],
}
