.classA {
  .nestedA {
    color: rebeccapurple;
  }
  .nested_B {
    .deeplyNested {
      color: rebeccapurple;
    }
  }

  /* https://www.w3.org/TR/css-nesting-1/ */
  & .nested-c {
    color: rebeccapurple;
  }
  .parent & {
    color: rebeccapurple;
  }
}
