.classA {
  color: rebeccapurple;
}

.ClassB {
  color: rebeccapurple;
}

.class-c {
  color: rebeccapurple;
}

.parent {
  .childA {
    color: rebeccapurple;
  }
  .childB {
    .nestedChild {
      color: rebeccapurple;
    }
  }
}
